* {
  box-sizing: border-box;
}

:root {
  --color-1: #242526;
  --color-2: white;
  --color-3: #0084ff;
  --color-1: grey;
  --color-1: #eb4034;
  --color-1: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 20px;
  background-color: var(--color-1);
  border-bottom: 1px solid var(--color-6);
}

nav a {
  color: var(--color-2);
  text-decoration: none;
}

nav div a {
  margin-right: 20px;
}